<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect Old Page" stopProcessing="true">
          <match url="old-page.html" />
          <action type="Redirect" url="http://eltiempo.com" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
